@model EurofinsEvents.Models.Event
<form asp-action="Create" method="post" enctype="multipart/form-data" class="w-40">
    <h2 class="pb-10">Create Event</h2>

    <div class="input-container">
        <label asp-for="Title" class="w-40">Title</label>
        <input type="text" class="input" asp-for="Title">
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="Title"> </span>
        </div>
    </div>

    <div class="input-container">
        <label asp-for="EventImage" class="w-40">Image</label>
        <input type="file" asp-for="ImageFile">
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="ImageFile"> </span>
        </div>
    </div>

    <div class="input-container">
        <label asp-for="Description" class="w-40">Description</label>
        <input type="text" class="input" asp-for="Description">
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="Description"> </span>
        </div>
    </div>

    <div class="input-container">
        <label asp-for="Confirmed" class="w-40">Is the event confirmed?</label>
        @Html.CheckBoxFor(model => model.Confirmed)
    </div>

    <div class="input-container">
        <label asp-for="Datetime" class="w-40">Date and Time</label>
        <input asp-for="Datetime" type="datetime-local" class="input">
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="Datetime"> </span>
        </div>
    </div>

    <div class="input-container">
        <label asp-for="Location" class="w-40">Address</label>
        <input asp-for="Location" class="input" placeholder="e.g. Street, Street Number, Postal Code City, Region" />
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="Location"> </span>
        </div>
    </div>

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/Event/Index">All records</a>
    </div>
</form>



